.items__link {
	display: block;
	text-decoration: none;
	background: #87cefa;
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}

.items__link:hover {
	background: #4169e1;
	color: white;
}

.items__item_new_yes .items__link {
	background: #ffb6c1;
}