.catalog {
  min-height: 100%;
  margin-bottom: -100px;
  outline: 1px solid #ddd;
}
.catalog:after {
  content: '';
  height: 100px;
  display: block;
  outline: 1px solid #f00;
}
.legend {
  height: 100px;
  background-color: #eee;
}
.legend:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* d:\smart-bem\libs\my-blocks/page/_theme/page_theme_brew.styl:begin */
html {
  height: 100%;
  font-size: 62.5%;
}
.page_theme_brew {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  font-size: 1.6em;
  min-width: 100rem;
}
/* d:\smart-bem\libs\my-blocks/page/_theme/page_theme_brew.styl:end */
