.catalog {
  min-height: 100%;
  margin-bottom: -100px;
  outline: 1px solid #ddd;
}
.catalog:after {
  content: '';
  height: 100px;
  display: block;
  outline: 1px solid #f00;
}
.legend {
  height: 100px;
  background-color: #eee;
}
.legend:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
